@tailwind base;
@tailwind components;
@tailwind utilities;

/* create your layers here */
@layer components {
    .section-title {
        @apply tracking-wide font-bold text-center text-black uppercase pt-6 pb-12;
        font-family: 'Poppins', serif;
        font-size: clamp(1.2rem, 5vw, 1.875rem);
    }
}

/* ----- */

/* "Poppins" font for body */
body {
    font-family: "Poppins", serif;
}

/* "Montserrat" font for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", serif;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #eab308 ;
    border-radius: 2px;
}

/* prevent the default eye icon (toggle visibility button) in password inputs */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
